.service.service__skin1 {
    height: 136px !important;
}

.box_inner {
    width: 320px !important;
    height: 136px !important;
}

.grid_4.wow.fadeInUp.animated {
    width: 370px !important;
    height: 223px !important;
}

.articleBody {
    width: 320px !important;
    height: 96px !important;
}

.pagination {
    position: absolute;
}

.articlePreviewsSection {
    margin-left: 1.66em;
}