#categoriesContent {
    margin-left: 19.3%;
    border: 1px solid gray;
    width: 61.5%;
    display: none;
}

.no-border {
    background: none;
}

#li .a:hover, .dropdown:hover .dropbtn {
    cursor: pointer;
}

.dropdown-content {
  display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 100 !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid currentColor;
    border-radius: 1px;
    margin-top: 0.7em;
    width: 36.5em;
    height: auto;
    padding-top: 1em;
    padding-bottom: 2em;
}

.dropdown-content .a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

.img-circle-div {
    width: 80px;
    height: 140px;
}

.img-circle-a {
    width: 80px !important;
    height: 80px !important;
}

.img-circle-img {
    border-radius: 50%;
    width: 80px !important;
    height: 80px !important;
}

/*.brand h1 {*/
/*padding-left: 70%;*/
/*padding-top: 2%;*/
/*}*/

.upperHr {
    height: 1px;
    background: #cecece;
    margin-top: 50px;
    margin-left: 30px;
}

.header .socials, .header .search-form, .header .nav {
    float: left;
    padding-left: 25%;
}

.product-title {
    word-wrap: break-word;
    margin-top: 0.2em !important;
    word-spacing: 0;
    line-height: 1em;
    text-align: center;
}


