.row_facebook.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0)
}

.row_facebook.fa.pull-left {
    margin-right: .3em
}

.row_facebook.fa.pull-right {
    margin-left: .3em
}

.row_facebook.fa-user:before {
    content: "\f007"
}

.row_facebook.fa-comments:before {
    content: "\f086"
}

.row_facebook.fa-level-down:before {
    content: "\f149"
}

.row_facebook.fa-thumbs-up:before {
    content: "\f164"
}

.row_facebook.fa-thumbs-down:before {
    content: "\f165"
}

.row_facebook a {
    background-color: transparent
}

.row_facebook a:active, .row_facebook a:hover {
    outline: 0
}

.row_facebook b, .row_facebook strong {
    font-weight: 700
}

.row_facebook h1 {
    margin: .67em 0
}

.row_facebook img {
    border: 0
}

.row_facebook button, .row_facebook input, .row_facebook optgroup, .row_facebook select, .row_facebook textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.row_facebook button {
    overflow: visible
}

.row_facebook button, .row_facebook select {
    text-transform: none
}

.row_facebook button, .row_facebook html input[type=button], .row_facebook input[type=reset], .row_facebook input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

.row_facebook button[disabled], .row_facebook html input[disabled] {
    cursor: default
}

.row_facebook button::-moz-focus-inner, .row_facebook input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.row_facebook input[type=checkbox], .row_facebook input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

.row_facebook input[type=number]::-webkit-inner-spin-button, .row_facebook input[type=number]::-webkit-outer-spin-button {
    height: auto
}

.row_facebook input[type=search]::-webkit-search-cancel-button, .row_facebook input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

.row_facebook textarea {
    overflow: auto
}

.row_facebook td, th {
    padding: 0
}

/*! Source: http://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    .row_facebook *, :after, :before {
        background: 0 0 !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    .row_facebook a, .row_facebook a:visited {
        text-decoration: underline
    }

    .row_facebook a[href]:after {
        content: " (" attr(href) ")"
    }

    .row_facebook abbr[title]:after {
        content: " (" attr(title) ")"
    }

    .row_facebook a[href^="#"]:after, .row_facebook a[href^="javascript:"]:after {
        content: ""
    }

    .row_facebook img, .row_facebook tr {
        page-break-inside: avoid
    }

    .row_facebook img {
        max-width: 100% !important
    }

    .row_facebook h2, .row_facebook h3, .row_facebook p {
        orphans: 3;
        widows: 3
    }

    .row_facebook h2, .row_facebook h3 {
        page-break-after: avoid
    }

    .row_facebook .btn > .caret, .row_facebook .dropup > .btn > .caret {
        border-top-color: #000 !important
    }

    .row_facebook .label {
        border: 1px solid #000
    }
}

.row_facebook *, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html .row_facebook {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

.row_facebook button, .row_facebook input, .row_facebook select, .row_facebook textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.row_facebook a {
    color: #337ab7;
    text-decoration: none
}

.row_facebook a:focus, .row_facebook a:hover {
    color: #23527c;
    text-decoration: underline
}

.row_facebook a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.row_facebook img {
    vertical-align: middle
}

.row_facebook .carousel-inner > .item > a > img, .row_facebook .carousel-inner > .item > img, .row_facebook .img-responsive, .row_facebook .thumbnail a > img, .row_facebook .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto
}

.row_facebook .img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.row_facebook h1, .row_facebook h2, .row_facebook h3, .row_facebook h4, .row_facebook h5, .row_facebook h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.row_facebook h1, .row_facebook h2, .row_facebook h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.row_facebook h4, .row_facebook h5, .row_facebook h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.row_facebook h1 {
    font-size: 36px
}

.row_facebook h2 {
    font-size: 30px
}

.row_facebook h3 {
    font-size: 24px
}

.row_facebook h4 {
    font-size: 18px
}

.row_facebook h5 {
    font-size: 14px
}

.row_facebook h6 {
    font-size: 12px
}

.row_facebook p {
    margin: 0 0 10px
}

.row_facebook .text-right {
    text-align: right
}

.row {
    margin-left: -2.5px;
    margin-right: -2.5px
}

.row_facebook {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 8.5pt;
    font-weight: 300;
    padding: 5px 10px;
    line-height: 1.42857143;
    margin-left: 24%;
    margin-right: 30%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 2.5px;
    padding-right: 2.5px
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

.row_facebook label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

.row_facebook input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row_facebook input[type=file] {
    display: block
}

.row_facebook input[type=range] {
    display: block;
    width: 100%
}

.row_facebook input[type=checkbox]:focus, .row_facebook input[type=radio]:focus, .row_facebook input[type=file]:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.row_facebook .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.row_facebook .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.row_facebook .form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.row_facebook .form-control:-ms-input-placeholder {
    color: #999
}

.row_facebook .form-control::-webkit-input-placeholder {
    color: #999
}

.row_facebook .form-control[disabled], .row_facebook .form-control[readonly], .row_facebook fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}

.row_facebook textarea.form-control {
    height: auto
}

.row_facebook input[type=search] {
    -webkit-appearance: none
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
        line-height: 34px
    }

    .input-group-sm input[type=date], .input-group-sm input[type=time], .input-group-sm input[type=datetime-local], .input-group-sm input[type=month], input[type=date].input-sm, input[type=time].input-sm, input[type=datetime-local].input-sm, input[type=month].input-sm {
        line-height: 30px
    }

    .input-group-lg input[type=date], .input-group-lg input[type=time], .input-group-lg input[type=datetime-local], .input-group-lg input[type=month], input[type=date].input-lg, input[type=time].input-lg, input[type=datetime-local].input-lg, input[type=month].input-lg {
        line-height: 46px
    }
}

.row_facebook .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.row_facebook .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.row_facebook .input-lg + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px
}

.row_facebook .input-sm + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px
}

.row_facebook .form-horizontal .checkbox, .row_facebook .form-horizontal .checkbox-inline, .row_facebook .form-horizontal .radio, .row_facebook .form-horizontal .radio-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px
}

.row_facebook .form-horizontal .checkbox, .row_facebook .form-horizontal .radio {
    min-height: 27px
}

.row_facebook .form-horizontal .form-group {
    margin-left: -2.5px;
    margin-right: -2.5px
}

@media (min-width: 768px) {
    .row_facebook .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px
    }
}

.row_facebook .form-horizontal .has-feedback .form-control-feedback {
    right: 2.5px
}

@media (min-width: 768px) {
    .row_facebook .form-horizontal .form-group-lg .control-label {
        padding-top: 14.33px
    }
}

@media (min-width: 768px) {
    .row_facebook .form-horizontal .form-group-sm .control-label {
        padding-top: 6px
    }
}

.row_facebook .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.row_facebook .btn.active.focus, .row_facebook .btn.active:focus, .row_facebook .btn.focus, .row_facebook .btn:active.focus, .row_facebook .btn:active:focus, .row_facebook .btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.row_facebook .btn.focus, .row_facebook .btn:focus, .row_facebook .btn:hover {
    color: #333;
    text-decoration: none
}

.row_facebook .btn.active, .row_facebook .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.row_facebook .btn.disabled, .row_facebook .btn[disabled], .row_facebook fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.row_facebook .btn-default {
    background-color: #fff;
    border-color: #ccc
}

.row_facebook .btn-default.active, .row_facebook .btn-default.focus, .row_facebook .btn-default:active, .row_facebook .btn-default:focus,
.row_facebook .btn-default:hover, .row_facebook .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.row_facebook .btn-default.active, .row_facebook .btn-default:active, .row_facebook .open > .dropdown-toggle.btn-default {
    background-image: none
}

.row_facebook .btn-group-lg > .btn, .row_facebook .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.row_facebook .btn-group-sm > .btn, .row_facebook .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.row_facebook .btn-group-xs > .btn, .row_facebook .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.row_facebook input[type=button].btn-block, .row_facebook input[type=reset].btn-block, .row_facebook input[type=submit].btn-block {
    width: 100%
}

.row_facebook .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.row_facebook a.label:focus, .row_facebook a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.row_facebook .label:empty {
    display: none
}

.row_facebook .btn .label {
    position: relative;
    top: -1px
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

.row_facebook .media:first-child {
    margin-top: 0
}

.row_facebook .media, .row_facebook .media-body {
    zoom: 1;
    overflow: hidden
}

.row_facebook .media-body {
    width: 10000px
}

.row_facebook .media-object {
    display: block
}

.row_facebook .media-right, .row_facebook .media > .pull-right {
    padding-left: 10px
}

.row_facebook .media-left, .row_facebook .media > .pull-left {
    padding-right: 10px
}

.row_facebook .media-body, .row_facebook .media-left, .row_facebook .media-right {
    display: table-cell;
    vertical-align: top
}

.row_facebook .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.row_facebook .panel-body {
    padding: 15px
}

.row_facebook .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.row_facebook .panel-heading > .dropdown .dropdown-toggle {
    color: inherit
}

.row_facebook .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.row_facebook .panel-title > .small, .row_facebook .panel-title > .small > a,
.row_facebook .panel-title > a, .row_facebook .panel-title > small, .row_facebook .panel-title > small > a {
    color: inherit
}

.row_facebook .panel-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.row_facebook .panel > .list-group, .row_facebook .panel > .panel-collapse > .list-group {
    margin-bottom: 0
}

.row_facebook .panel > .list-group .list-group-item, .row_facebook .panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0
}

.row_facebook .panel > .list-group:first-child .list-group-item:first-child,
.row_facebook .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.row_facebook .panel > .list-group:last-child .list-group-item:last-child,
.row_facebook .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.row_facebook .panel > .panel-collapse > .table, .row_facebook .panel > .table, .panel > .table-responsive > .table {
    margin-bottom: 0
}

.row_facebook .panel > .panel-collapse > .table caption,
.row_facebook .panel > .table caption, .row_facebook .panel > .table-responsive > .table caption {
    padding-left: 15px;
    padding-right: 15px
}

.row_facebook .panel > .table-responsive:first-child > .table:first-child, .row_facebook .panel > .table:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.row_facebook .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child,
.row_facebook .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.row_facebook .panel > .table:first-child > tbody:first-child > tr:first-child, .panel > .table:first-child > thead:first-child > tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.row_facebook .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.row_facebook .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.row_facebook .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.row_facebook .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.row_facebook .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.row_facebook .panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px
}

.row_facebook .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.row_facebook .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.row_facebook .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.row_facebook .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.row_facebook .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.row_facebook .panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table:first-child > thead:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px
}

.row_facebook .panel > .table-responsive:last-child > .table:last-child, .row_facebook .panel > .table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.row_facebook .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.row_facebook .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child,
.row_facebook .panel > .table:last-child > tbody:last-child > tr:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.row_facebook .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.row_facebook .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.row_facebook .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.row_facebook .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.row_facebook .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.row_facebook .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px
}

.row_facebook .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.row_facebook .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.row_facebook .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px
}

.row_facebook .panel > .panel-body + .table,
.row_facebook .panel > .panel-body + .table-responsive,
.row_facebook .panel > .table + .panel-body,
.row_facebook .panel > .table-responsive + .panel-body {
    border-top: 1px solid #ddd
}

.row_facebook .panel > .table > tbody:first-child > tr:first-child td,
.row_facebook .panel > .table > tbody:first-child > tr:first-child th {
    border-top: 0
}

.row_facebook .panel > .table-bordered,
.row_facebook .panel > .table-responsive > .table-bordered {
    border: 0
}

.row_facebook .panel > .table-bordered > tbody > tr > td:first-child,
.row_facebook .panel > .table-bordered > tbody > tr > th:first-child,
.row_facebook .panel > .table-bordered > tfoot > tr > td:first-child,
.row_facebook .panel > .table-bordered > tfoot > tr > th:first-child,
.row_facebook .panel > .table-bordered > thead > tr > td:first-child,
.row_facebook .panel > .table-bordered > thead > tr > th:first-child,
.row_facebook .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.row_facebook .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.row_facebook .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child,
.row_facebook .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.row_facebook .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.row_facebook .panel > .table-responsive > .table-bordered > thead > tr > th:first-child {
    border-left: 0
}

.row_facebook .panel > .table-bordered > tbody > tr > td:last-child,
.row_facebook .panel > .table-bordered > tbody > tr > th:last-child,
.row_facebook .panel > .table-bordered > tfoot > tr > td:last-child,
.row_facebook .panel > .table-bordered > tfoot > tr > th:last-child,
.row_facebook .panel > .table-bordered > thead > tr > td:last-child,
.row_facebook .panel > .table-bordered > thead > tr > th:last-child,
.row_facebook .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.row_facebook .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.row_facebook .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child,
.row_facebook .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.row_facebook .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.row_facebook .panel > .table-responsive > .table-bordered > thead > tr > th:last-child {
    border-right: 0
}

.row_facebook .panel > .table-bordered > tbody > tr:first-child > td,
.row_facebook .panel > .table-bordered > tbody > tr:first-child > th,
.row_facebook .panel > .table-bordered > tbody > tr:last-child > td,
.row_facebook .panel > .table-bordered > tbody > tr:last-child > th,
.row_facebook .panel > .table-bordered > tfoot > tr:last-child > td,
.row_facebook .panel > .table-bordered > tfoot > tr:last-child > th,
.row_facebook .panel > .table-bordered > thead > tr:first-child > td,
.row_facebook .panel > .table-bordered > thead > tr:first-child > th,
.row_facebook .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.row_facebook .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th,
.row_facebook .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.row_facebook .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.row_facebook .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.row_facebook .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th,
.row_facebook .panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.row_facebook .panel > .table-responsive > .table-bordered > thead > tr:first-child > th {
    border-bottom: 0
}

.row_facebook .panel > .table-responsive {
    border: 0;
    margin-bottom: 0
}

.row_facebook .panel-group {
    margin-bottom: 20px
}

.row_facebook .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px
}

.row_facebook .panel-group .panel + .panel {
    margin-top: 5px
}

.row_facebook .panel-group .panel-heading {
    border-bottom: 0
}

.row_facebook .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #ddd
}

.row_facebook .panel-group .panel-footer {
    border-top: 0
}

.row_facebook .panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #ddd
}

.row_facebook .panel-default {
    border-color: #ddd
}

.row_facebook .panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.row_facebook .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd
}

.row_facebook .panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333
}

.row_facebook .panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd
}

.row_facebook .panel-primary {
    border-color: #337ab7
}

.row_facebook .panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7
}

.row_facebook .panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #337ab7
}

.row_facebook .panel-primary > .panel-heading .badge {
    color: #337ab7;
    background-color: #fff
}

.row_facebook .panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #337ab7
}

.row_facebook .panel-success {
    border-color: #d6e9c6
}

.row_facebook .panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.row_facebook .panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #d6e9c6
}

.row_facebook .panel-success > .panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d
}

.row_facebook .panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d6e9c6
}

.row_facebook .panel-info {
    border-color: #bce8f1
}

.row_facebook .panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.row_facebook .panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #bce8f1
}

.row_facebook .panel-info > .panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f
}

.row_facebook .panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #bce8f1
}

.row_facebook .panel-warning {
    border-color: #faebcc
}

.row_facebook .panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.row_facebook .panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #faebcc
}

.row_facebook .panel-warning > .panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b
}

.row_facebook .panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #faebcc
}

.row_facebook .panel-danger {
    border-color: #ebccd1
}

.row_facebook .panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.row_facebook .panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ebccd1
}

.row_facebook .panel-danger > .panel-heading .badge {
    color: #f2dede;
    background-color: #a94442
}

.row_facebook .panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ebccd1
}

.row_facebook .btn-group-vertical > .btn-group:after,
.row_facebook .btn-group-vertical > .btn-group:before,
.row_facebook .btn-toolbar:after, .btn-toolbar:before,
.row_facebook .form-horizontal .form-group:after,
.row_facebook .form-horizontal .form-group:before,
.row_facebook .panel-body:after,
.row_facebook .panel-body:before,
.row_facebook .row:after,
.row_facebook .row:before {
    content: " ";
    display: table
}

.row_facebook .row_facebook .btn-group-vertical > .btn-group:after,
.row_facebook .btn-toolbar:after, .clearfix:after,
.row_facebook .form-horizontal .form-group:after,
.row_facebook .panel-body:after,
.row_facebook .row:after {
    clear: both
}

.row_facebook .hide {
    display: none !important
}

@media (max-width: 767px) {
    .row_facebook .hidden-xs {
        display: none !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .row_facebook .hidden-sm {
        display: none !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .row_facebook .hidden-md {
        display: none !important
    }
}

@media (min-width: 1200px) {
    .row_facebook .hidden-lg {
        display: none !important
    }
}

.row_facebook * {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -icab-border-radius: 0 !important;
    -khtml-border-radius: 0 !important
}

.row_facebook .panel-arena {
    margin-bottom: 5px
}

.row_facebook .panel-arena .panel-heading {
    padding: 7px 9px !important;
    font-weight: 600;
    letter-spacing: 1px
}

.row_facebook .panel-arena .panel-body {
    padding: 5px
}

.row_facebook .panel-arena .panel-body p {
    padding: 5px;
    margin: 0
}

.row_facebook .panel-footer {
    padding: 5px !important
}

.row_facebook .panel-arena .panel-footer .pagination {
    margin: 4px 0 0 !important
}

.row_facebook input[type=checkbox], .row_facebook input[type=radio] {
    margin: 2px 0 0;
    line-height: normal
}

.row_facebook textarea {
    padding: 5px !important
}

.row_facebook .p10 {
    padding: 10px !important
}

.row_facebook .mt5 {
    margin-top: 5px !important
}

.row_facebook .mb10 {
    margin-bottom: 10px !important
}

.row_facebook .mt10 {
    margin-top: 10px !important
}

.row_facebook .pl5 {
    padding-left: 5px
}

.row_facebook .text-green {
    color: #5cb85c !important
}

.row_facebook .text-white {
    color: #fff !important
}

.row_facebook .comments-item {
    padding: 5px;
    border-color: #004282;
    border-style: solid;
    border-width: 2px;
    border-left-width: 4px;
    border-right-width: 4px;
}

.row_facebook .reply-item {
    margin-top: 5px;
    padding: 5px
}

.row_facebook .comments-title {
    margin-bottom: 5px;
    padding-bottom: 5px
}

.row_facebook .comments-title .fa {
    margin: 0 2px
}

.row_facebook .form-reply,
.row_facebook .media,
.row_facebook .media .media,
.row_facebook .reply-title {
    margin-top: 5px
}

.row_facebook span.label {
    font-size: 100% !important
}

.row_facebook .btn {
    color: #fff !important;
    font-weight: 600
}

.row_facebook .btn-green {
    background-color: #6db54b
}

.row_facebook .btn-green2 {
    background-color: #71aa61
}

.row_facebook .btn-green3 {
    background-color: #417447
}

.row_facebook .btn-green4 {
    background-color: #3b579d
}

.row_facebook .btn-green5 {
    background-color: #1C4905
}

.row_facebook .btn-green.btn-gradient {
    background-color: #368d0d
}

.row_facebook .btn-green2.btn-gradient {
    background-color: #33881b
}

.row_facebook .btn-green3.btn-gradient {
    background-color: #00520a
}

.row_facebook .btn-green4.btn-gradient {
    background-color: #274d00
}

.row_facebook .btn-green5.btn-gradient {
    background-color: #0d2f00
}

.row_facebook a {
    color: #3b579d;
}

.row_facebook a:hover {
    color: #3b579d;
}

/* panels */
.row_facebook .panel-arena {
    background: #fffae6 !important;
    border: 1px solid #202020;
    -moz-box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.4);
}

.row_facebook .panel-arena .panel-heading {
    color: #3b579d;
    padding: 7px 9px !important;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid #3b579d;
    background: #fffae6 !important;
}

.row_facebook .panel-arena .panel-body {
    background: #fffae6 !important;
    color: #000000;
}

.row_facebook .panel-footer {
    background: #fffae6 !important;
    border-color: #202020 !important;
}

.row_facebook .panel-arena .panel-footer .pagination {
    margin: 0px 0px !important;
    margin-top: 4px !important;
}

/* inputs */
.row_facebook input[type=text],
.row_facebook input[type=password],
.row_facebook input[type=file],
.row_facebook input[type=email],
.row_facebook textarea,
.row_facebook select {
    background: #ededed !important;
    border: 1px solid #505050 !important;
    color: #eee !important;
}

.row_facebook input[type=text]:focus,
.row_facebook input[type=password]:focus,
.row_facebook input[type=file]:focus,
.row_facebook input[type=email]:focus,
.row_facebook textarea:focus, select:focus {
    background: #faffbd !important;
    color: black !important;
}

/* rows */
.row_facebook .row .odd {
    background-color: #fffae6;
    border-color: #202020 !important;
}

.row_facebook .row .even {
    background: #fffae6;
    color: #eee;
    border-color: #202020 !important;
}

/* comments */
.row_facebook .comments-item {
    background: #fffae6;
}

.row_facebook .reply-item {
    background: #f0f0f0;

}

.row_facebook .comments-title {
    border-bottom: 1px solid #ededed;
}

.row_facebook .form-reply {
    border-top: 1px solid #404040;
}

/* labels */
.row_facebook .label-arena {
    background: #ededed;
}