html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid_1b3 {
    width: 33.3333333333333333333%;
    margin-left: 0 !important;
}

.container {
    width: 1170px;
}

.row {
    margin-left: -30px;
}

[class*="grid_"] {
    float: left;
    min-height: 1px;
    margin-left: 25px;
}

.grid_1 {
    width: 70px;
}

.grid_2 {
    width: 170px;
}

.grid_3 {
    width: 270px;
    padding-left: 1%;
}

.grid_3_recipe {
    width: 272px;
    margin-bottom: 1.5%;
}

.grid_3_video_index {
    width: 330px;
}

.isotope.filtered .grid_6,
.grid_4 ,.grid_4_one_video {
    width: 350px;
}

.grid_5 {
    width: 470px;
}

.grid_6 {
    width: 570px;
}

.grid_7 {
    width: 670px;
}

.grid_8 {
    width: 770px;
}

.grid_9 {
    width: 870px;
}

.grid_10 {
    width: 970px;
}

.grid_11 {
    width: 1070px;
}

.grid_12 {
    width: 1170px;
}

.preffix_1 {
    margin-left: 130px;
}

.preffix_2 {
    margin-left: 230px;
}

.preffix_3 {
    margin-left: 330px;
}

.preffix_4 {
    margin-left: 430px;
}

.preffix_5 {
    margin-left: 530px;
}

.preffix_6 {
    margin-left: 630px;
}

.preffix_7 {
    margin-left: 730px;
}

.preffix_8 {
    margin-left: 830px;
}

.preffix_9 {
    margin-left: 930px;
}

.preffix_10 {
    margin-left: 1030px;
}

.preffix_11 {
    margin-left: 1130px;
}

.preffix_12 {
    margin-left: 1230px;
}

@media (min-width: 980px) and (max-width: 1199px) {
    .container {
        width: 940px;
    }

    .row {
        margin-left: -20px;
    }

    [class*="grid_"] {
        float: left;
        min-height: 1px;
        margin-left: 20px;
    }

    .grid_1 {
        width: 60px;
    }

    .grid_2 {
        width: 140px;
    }

    .grid_3 {
        width: 220px;
    }

    .isotope.filtered .grid_6,
    .grid_4 {
        width: 300px;
    }

    .grid_5 {
        width: 380px;
    }

    .grid_6 {
        width: 460px;
    }

    .grid_7 {
        width: 540px;
    }

    .grid_8 {
        width: 620px;
    }

    .grid_9 {
        width: 700px;
    }

    .grid_10 {
        width: 780px;
    }

    .grid_11 {
        width: 860px;
    }

    .grid_12 {
        width: 940px;
    }

    .preffix_1 {
        margin-left: 100px;
    }

    .preffix_2 {
        margin-left: 180px;
    }

    .preffix_3 {
        margin-left: 260px;
    }

    .preffix_4 {
        margin-left: 340px;
    }

    .preffix_5 {
        margin-left: 420px;
    }

    .preffix_6 {
        margin-left: 500px;
    }

    .preffix_7 {
        margin-left: 580px;
    }

    .preffix_8 {
        margin-left: 660px;
    }

    .preffix_9 {
        margin-left: 740px;
    }

    .preffix_10 {
        margin-left: 820px;
    }

    .preffix_11 {
        margin-left: 900px;
    }

    .preffix_12 {
        margin-left: 980px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container {
        width: 748px;
    }

    .row {
        margin-left: -20px;
    }

    [class*="grid_"] {
        float: left;
        min-height: 1px;
        margin-left: 20px;
    }

    .grid_1 {
        width: 44px;
    }

    .grid_2 {
        width: 108px;
    }

    .grid_3 {
        width: 172px;
    }

    .isotope.filtered .grid_6,
    .grid_4 {
        width: 236px;
    }

    .grid_5 {
        width: 300px;
    }

    .grid_6 {
        width: 364px;
    }

    .grid_7 {
        width: 428px;
    }

    .grid_8 {
        width: 492px;
    }

    .grid_9 {
        width: 556px;
    }

    .grid_10 {
        width: 620px;
    }

    .grid_11 {
        width: 684px;
    }

    .grid_12 {
        width: 748px;
    }

    .preffix_1 {
        margin-left: 84px;
    }

    .preffix_2 {
        margin-left: 148px;
    }

    .preffix_3 {
        margin-left: 212px;
    }

    .preffix_4 {
        margin-left: 276px;
    }

    .preffix_5 {
        margin-left: 340px;
    }

    .preffix_6 {
        margin-left: 404px;
    }

    .preffix_7 {
        margin-left: 468px;
    }

    .preffix_8 {
        margin-left: 532px;
    }

    .preffix_9 {
        margin-left: 596px;
    }

    .preffix_10 {
        margin-left: 660px;
    }

    .preffix_11 {
        margin-left: 724px;
    }

    .preffix_12 {
        margin-left: 788px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 420px;
        padding: 0;
    }

    #isotope {
        margin: auto;
        width: 38%;
    }


    .row + .row,    .row {
        margin-left: 0;
    }

    [class*="grid_"] + [class*="grid_"] {
        margin-top: 30px;
    }

    .isotope.filtered .grid_6,
    [class*="grid_"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 479px) {
    body {
        padding: 0;
    }

    .container {
        width: 300px;
        padding: 0 15px;
    }

    .row {
        margin-left: 0;
    }
}

.container:before, .row:before, .row-fluid:before, .container:after, .row:after, .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

.container:after, .row:after, .row-fluid:after {
    clear: both;
}

@media (max-width: 768px) {
    #right-column {
        float: none !important;
    }
}

@media (min-width: 970px) and (max-width: 1330px) {
    #isotope {
        margin: auto;
        width: 38%;
    }
    #isotope-one-video{
        margin: auto;
        width: 50%;
    }
}

@media (min-width: 1331px) and (max-width: 1692px) {
    #isotope  {
        margin: auto;
        width: 60.9%;
    }
    #isotope-one-video  {
        margin: auto;
        width: 55.9%;
    }
}

@media (min-width: 1692px) {
    .grid_3_video_index {
        width: 500px;
    }

    #isotope {
        margin: auto;
        width: 90%;
    }
}

@media (min-width: 770px) and (max-width: 880px) {
    .grid_3_video_index {
        margin: auto;
        width: 270px;
    }

    #isotope {
        margin: auto;
        width: 38%;
    }

}

@media (max-width: 977px) {
    #isotope {
        margin: auto;
        width: 38%;
    }

    .grid_3_video_index {
        margin: auto;
        width: 270px;
    }
}

@media (max-width: 1200px){

    #isotope-one-video {
        margin: auto;
        width: 48%;
    }

}


