<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">
<head>
    <link rel="stylesheet" th:href="@{/css/pageable.css/}"/>
</head>
<header id="header" class="header" th:include="|/header/header|"></header>
<body>
<div class="container well well__ins2">
    <div th:each="category : ${model.categories}" href="#"
         class="grid_1 fadeInDown  animated img-circle-div"
         data-wow-delay=".1s">
        <a class="lazy-img thumbnail no-border img-circle-a"
           th:href="|/categories/${category.id}/recipes|">
            <img th:attr="data-src=@{${category.picturePath}}"
                 th:src="@{${category.picturePath}}" alt=""
                 class="lazy-loaded img-circle-img"/>
            <noscript><img class="img-circle"
                           th:src="@{${category.picturePath}}"
                           alt=""/>
            </noscript>
        </a>
        <p class="product-title" th:text="${#strings.abbreviate(category.name,7)}"
           th:title="${category.name}" align="center" style="font-size: 20px">
        </p>

    </div>
</div>

</body>
<footer id="footer" class="footer" th:include="|/footer/footer|"></footer>

</html>