<head xmlns:th="http://www.thymeleaf.org">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{/css/tag/magicsuggest.css}"/>
    <script th:src="@{/js/tag/magicsuggest.js}"></script>
</head>
<input id="categorySuggest" type="text"/>
<script th:inline="javascript">
    $(document).ready(function () {
        var csg;
        let model = [[${model}]];
        $(function () {
            csg = $('#categorySuggest').magicSuggest({
                method: 'get',
                data: '/categories/names',
                toggleOnClick: true,
                allowFreeEntries: false,
                useTabKey: true,
                useZebraStyle: true,
                placeholder: 'Enter category names...',
            });
            if(model != undefined) {
                if(model.hasOwnProperty("categoryNames")) {
                    csg.setValue(model.categoryNames);
                }
            }
        });

        $(':reset').on('click',function () {
            csg.clear();
        });

        $("#form").submit( function(eventObj) {
            $('<input />').attr('type', 'hidden')
                    .attr('name', "categoryNames")
                    .attr('value', csg.getValue())
                    .appendTo('#form');
            return true;
        });

    })
</script>