<div id="myDropdown" class="row container dropdown-content partial" style="width: 500px;height: 500px">
    <!--/*@thymesVar id="model" type="app.models.dto.viewModel.category.DropDownCategoryViewModel"*/-->
    <div xmlns:th="http://www.thymeleaf.org"
         th:each="category : ${model.categories}" href="#"
         class="grid_1 fadeInDown  animated img-circle-div"
         data-wow-delay=".1s">
        <a class="lazy-img thumbnail no-border img-circle-a"
           th:href="|/categories/${category.id}/recipes|">
            <img th:attr="data-src=@{${category.picturePath}}"
                 th:src="@{${category.picturePath}}" alt=""
                 class="lazy-loaded img-circle-img"/>
            <noscript><img class="img-circle"
                           th:src="@{${category.picturePath}}"
                           alt=""/>
            </noscript>
        </a>
        <p class="product-title" th:text="${#strings.abbreviate(category.name,7)}"
           th:title="${category.name}" align="center" style="font-size: 20px">
        </p>

    </div>
    <div class="grid_1" style="padding-left: 340px">
        <a id="categories" href="#" class="btn">View More</a>
    </div>

</div>
<script>
    $('#categories').click(function () {
        location.href = '/categories/all'
    })
</script>