<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">
<head>
    <link rel="stylesheet" th:href="@{/css/pageable.css/}"/>
</head>
<header id="header" class="header" th:include="|/header/header|"></header>
<body>
<!--/*@thymesVar id="model" type="app.models.dto.viewModel.recipe.RecipeAllListedPerCategoryViewModel"*/-->
<div class="container well">
    <h2 class="wow fadeInLeft">Recently added </h2>
    <div class="row">
        <div th:if="${model.newestRecipes.size() > 0}" class="grid_6 wow fadeInLeft animated"
             style="visibility: visible; animation-name: fadeInLeft;">
            <a class="lazy-img thumbnail mg-add" style="padding-bottom: 96.48506%"
               th:href="${model.newestRecipes[0].picturePath}">
                <img th:attr="data-src=${model.newestRecipes[0].picturePath}"
                     th:src="${model.newestRecipes[0].picturePath}"
                     alt="" class="lazy-loaded"/>
                <noscript>&lt;img th:src="${model.newestRecipes[0].picturePath}"
                    alt="" /&gt;</noscript>
                <div class="thumbnail_overlay fa"></div>
            </a>
        </div>
        <div th:if="${model.newestRecipes.size() > 0}" class="grid_6 wow fadeInRight animated"
             style="visibility: visible; animation-name: fadeInRight;">
            <div class="product product__skin1 product__ins1">
                <div class="product_cnt  newest_recipe">
                    <h4 class="product_title"><a th:href="|/recipes/${model.newestRecipes[0].id}|"
                                                 th:text="${model.newestRecipes[0].name}"></a></h4>
                    <div class="product_description">
                        <a th:href="|/recipes/${model.newestRecipes[0].id}|" class="btn">Read More</a>
                        <p th:utext="${#strings.abbreviate(model.newestRecipes[0].body,210)}">
                        </p>
                    </div>
                </div>
            </div>
            <div th:if="${model.newestRecipes.size() > 1 }">
                <div th:each="i : ${#numbers.sequence(1,T(Math).min(3,model.newestRecipes.size()-1))}"
                     class="product product__skin2  product__ins1 product__ins2">
                    <div class="product_aside">
                        <a class="lazy-img thumbnail" style="padding-bottom: 98.0198%"
                           th:href="${model.newestRecipes[i].picturePath}">
                            <img th:attr="data-src=${model.newestRecipes[i].picturePath}"
                                 th:src="${model.newestRecipes[i].picturePath}" alt=""
                                 class="lazy-loaded"/>
                            <noscript>&lt;img th:src="${model.newestRecipes[i].picturePath}" alt="" /&gt;</noscript>
                            <div class="thumbnail_overlay fa"></div>
                        </a>
                    </div>
                    <div class="product_cnt">
                        <h4 class="product_title"><a th:href="|/recipes/${model.newestRecipes[i].id}|"
                                                     th:text="${model.newestRecipes[i].name}"></a></h4>
                        <div class="product_description">
                            <a th:href="|/recipes/${model.newestRecipes[i].id}|" class="btn">Read More</a>
                            <p th:utext="${#strings.abbreviate(model.newestRecipes[i].body,45)}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row" th:if="${model.newestRecipes.size() > 4 }">-->
    <!--<div th:each="i : ${#numbers.sequence(4,model.newestRecipes.size()-1)}"-->
    <!--class="grid_3_recipe wow fadeInUp animated" data-wow-delay=".2s"-->
    <!--style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">-->
    <!--<div class="product product__skin3 mg-add">-->
    <!--<a class="lazy-img thumbnail" style="padding-bottom: 98.88889%"-->
    <!--th:href="${model.newestRecipes[i].picturePath}">-->
    <!--<img th:attr="data-src=${model.newestRecipes[i].picturePath}"-->
    <!--th:src="${model.newestRecipes[i].picturePath}" alt="" class="lazy-loaded"/>-->
    <!--<noscript>&lt;img th:src="${model.newestRecipes[i].picturePath}" alt="" /&gt;</noscript>-->
    <!--<div class="thumbnail_overlay fa"></div>-->
    <!--</a>-->
    <!--<div class="product_cnt">-->
    <!--<h3 class="product_title"><a th:href="|/recipes/${model.newestRecipes[i].id}|"-->
    <!--th:text="${model.newestRecipes[i].name}"></a></h3>-->
    <!--<p th:utext="${#strings.abbreviate(model.newestRecipes[i].body,30)}" class="product_description">-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div id="page-container" class="container well">
    </div>
</div>
<!--========================================================
                          FOOTER
=========================================================-->

<footer id="footer" class="footer" th:include="|/footer/footer|"></footer>
<script>
    $(document).ready(function () {

        let requester = new Requester();
        let youtubeApi = new YouTubeVideoTitleRequester();
        let client = new Client();
        let page = new Page(requester, client)
        let event = new Event(null, null, null, null, null, page, null);
        page.setEvent(event);
        let url = window.location.pathname + "/";
        page.triggerPagination(0, null, url);
    })
</script>
</body>
</html>
