<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <header id="header" class="header" th:include="|/header/header|"></header>

</head>
<body>


<div th:each="video:${model.getVideos()}" th:id="${video.getId()}" class="video">
    <img th:src="'http://img.youtube.com/vi/'+${video.getPath()}+'/0.jpg'" width="320" height="180"
         class="alignnone"/>
</div>

</body>
<iframe width="560" height="315"
        src="https://www.youtube.com/embed/4yljhp505_A" frameborder="0" allowfullscreen></iframe>
<script src="/food-web/js/viewControler.js"></script>


</html>