<head xmlns:th="http://www.thymeleaf.org">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{/css/tag/magicsuggest.css}"/>
    <script th:src="@{/js/tag/magicsuggest.js}"></script>
</head>
<input id="magicsuggest" type="text"/>
<script>
    $(document).ready(function () {
        var sg;
        $(function () {
            sg = $('#magicsuggest').magicSuggest({
                method: 'get',
                data: '/getTags',
                toggleOnClick: true,
                useTabKey: true,
                useZebraStyle: true,
                placeholder: 'Enter some tags',
            });
        });

        $(':reset').on('click',function () {
            sg.clear();
        });

        $("#form").submit( function(eventObj) {
            $('<input />').attr('type', 'hidden')
                    .attr('name', "tagNames")
                    .attr('value', sg.getValue())
                    .appendTo('#form');
            return true;
        });

    })
</script>