<html xmlns:th="http://www.thymeleaf.org">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Recipe</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <!--/*@thymesVar id="model" type="app.models.dto.viewModel.recipe.RecipeEditViewModel"*/-->
                        <form role="form" id="form" method="POST" th:action="|/admin/recipes/${model.id}/edit|"
                              enctype="multipart/form-data">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="form-group">
                                <label for="name">Please, enter Recipe Name:</label>
                                <input class="form-control" type="text"
                                       name="name" id="name" placeholder="Name"
                                       th:value="${model.name}"/>
                            </div>
                            <textarea name="body" id="ck_editor" rows="10" cols="40"
                                      th:text="${model.body}"></textarea>
                            <div class="form-group">
                                <label>Picture upload</label>
                                <input type="file" name="file" id="file"/>
                            </div>
                            <br/>
                            <div th:replace="category/category_suggest"></div>
                            <br/>
                            <div class="form-group">
                                <label>Video URL</label>
                                <input type="text" name="videoURL" size="50" id="videoURL"
                                       th:value="${model.videoURL}"/>

                            </div>

                            <div class="form-group">
                                <label>Video Name</label>
                                <input type="text" name="videoName" size="50" id="videoName"
                                       th:value="${model.videoName}"/>
                                <div>

                                    <button name="defaultName" id="defaultName">Use youtube name</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="facebookId">Facebook id</label>
                                <input type="text" name="facebookId" th:value="${model.facebookId}"
                                       size="50" id="facebookId"/>
                            </div>
                            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button id="back" class="btn btn-info">Back</button>
                        </form>

                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<script th:src="@{/js/recipe/ckeditorRecipe.js}"></script>
<script>
    $('#back').click(function () {
        window.location.href = '/admin/allRecipes';
        return false;
    });
    $('#fileUpload').on('click', function () {

        let fileUploadField = $("input[type='file']");
        fileUploadField.click();
        fileUploadField.change(function () {
            var filename = fileUploadField.val();
            $('#fileName').html(filename.replace('C:\\fakepath\\', ''));
        });
    })
</script>
</html>