<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg">
<head>
    <meta charset="UTF-8"/>
    <title>Create Recipe</title>
   <script th:src="@{/js/article/ckeditor.js}"></script>
</head>
<body>
<div id="recipeModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createIssueModal"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="createIssueModal">Create Recipe</h4>
    </div>
    <form th:object="${bindingModel}" method="POST" th:action="|/recipes/create|">
        <label for="name">Please, enter Recipe Name:</label>
        <input type="text" name="name" id="name"/>
        <br/>
        <textarea name="body" id="ck_editor" rows="10" cols="40"></textarea>
        <br/>
        <div>
            <label>Select categories: </label>
            <select multiple="" th:field="*{categoryIds}">

                <option th:each="category : ${model}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>

        </div>
        <br/>
        <button  data-dismiss="modal" type="reset">Cancel</button>
        <button id="addVideo">Add video</button>
        <div id="toAppendVideoLink"></div>
        <input type="submit" value="Enter" name="upload" id="upload"/>
    </form>
</div>

</body>
</html>