<div xmlns:th="http://www.thymeleaf.org">

    <!--/*@thymesVar id="recipe" type="app.models.dto.viewModel.recipe.RecipePerCategoryViewModel"*/-->
    <!--/*@thymesVar id="model" type="app.models.dto.viewModel.recipe.RecipePerCategoryViewModel"*/-->

    <div class="row">
        <div th:each="video: ${model.page.content}" style="display: inline-block" class="item grid_4 ">

            <div th:attr="data-recipeVideoLinkId=@{${video.videoLinkId}}"
                 class="item grid_4 product product__skin3"></div>
            <a class="lazy-img mg-add thumbnail thumbnail__video frame"
               style="padding-bottom: 56.25%"
               th:href="'//player.youtube.com/embed/' + ${video.videoPath}">
                <img th:id="${video.recipeId}+'pic'"
                     th:attr="data-src='http://img.youtube.com/vi/' + ${video.videoPath} + '/mqdefault.jpg'"
                     th:src="'http://img.youtube.com/vi/'+${video.videoPath}+'/mqdefault.jpg'"
                     class="alignnone lazy-loaded "/>
                <img th:id="${video.recipeId}"
                     th:attr="data-src='http://img.youtube.com/vi/' + ${video.videoPath} + '/mqdefault.jpg'"
                     th:src="'http://img.youtube.com/vi/'+${video.videoPath}+'/mqdefault.jpg'"
                     class="alignnone"/>
            </a>
            <h3 class="product_title name"><a th:href="@{'/recipes/'+${video.recipeId}}"
                                              th:text="${#strings.abbreviate(video.getVideoName(),17)}"></a>
            </h3>
            <div class="product_description">
                <!--<a href="#" class="btn">View More</a>-->
                <!--<p>-->
                <!--SOme info-->
                <!--</p>-->

            </div>

        </div>

    </div>



    <br/><br/>
    <ul class="pagination inline-list" id="current-page" data-current-page="0">
        <li th:if="${!(model.currentPage == 0)}"><a href="#" class="page"
                                                    th:attr="data-next-page=${(model.currentPage - 1)}">Previous</a></li>
        <li th:if="${model.currentPage == 0}"><a class="disable first-last page"
                                                 th:attr="data-next-page=${(model.currentPage - 1)}">Previous</a></li>

        <li th:each="page : ${model.previousPages}">
            <a class="page" th:attr="data-next-page=${page}" th:text="${page+1}" href="javascript:void(0)"/>
        </li>
        <li><a class="disable selected page" th:attr="data-next-page=${model.currentPage}"
               th:text="${(model.currentPage+1)}"></a></li>
        <li th:each="page : ${model.nextPages}">
            <a class="page" th:attr="data-next-page=${page}" th:text="${page+1}" href="javascript:void(0)"/>
        </li>
        <li th:if="${!(model.nextPages.size() == 0)}"><a href="javascript:void(0)" class="page"
                                                         th:attr="data-next-page=${(model.currentPage+1)}">Next</a></li>
        <li th:if="${(model.nextPages.size() == 0)}"><a class="disable first-last page"
                                                        th:attr="data-next-page=${(model.currentPage+1)}">Next</a></li>
    </ul>
</div>

<script src="/js/theme/script1.js"></script>
<script>
    let requester = new Requester();
    let query = new Query(requester)
    let client = new Client()
    let youtubeApi = new YouTubeVideoTitleRequester();
    let embedVideo = new EmbedVideo(requester, youtubeApi);
    $('.thumbnail__video').mouseover(function () {
        let divIframeId = ($($(this).children()[0]).attr('id'));
        let pic = divIframeId.replace('pic', '');
        $('#' + pic).fadeOut('slow');
        embedVideo.onMyYouTubeIframeAPIReady(divIframeId)
    });

    $('.thumbnail__video').click(function (e) {
        let divIframeId = ($($(this).children()[0]).attr('id'));
        let pic = divIframeId.replace('pic', '');
            query.getRecipeName(pic)
                .then((name)=>client.appendVideoNameOnThumbNailOnHomePage(divIframeId, name))
    })
</script>
