<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg">
<head>
    <title>Upload Video</title>
</head>
<body>
<form id="form" class="form-group-lg" action="#" th:action="@{/videos/upload}" th:object="${bindingModel}" th:method="POST"
      style="margin-left: 20px">

    <div class="form-group">
        <label class="col-xs-1 control-label">Paste video URL: </label>
        <div class="col-xs-8">
            <input th:type="text" th:field="*{linkId}" th:id="url"/>
            <p th:if="${#fields.hasErrors('linkId')}" th:errors="*{linkId}"></p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label class="col-xs-1 control-label">Name: </label>
        <div class="col-xs-8">
            <input th:type="text" th:field="*{name}"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
    </div>
    <div th:if="${#fields.hasGlobalErrors()}">
        <ul>
            <li th:each="error : ${#fields.globalErrors()}" th:text="${error}"></li>
        </ul>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label class="col-xs-1 select-label">Select categories: </label>
        <div class="col-xs-8">
            <select class="select" multiple="" th:field="*{categoriesIds}">
                <option th:each="category : ${model}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div th:replace="tag/tag"></div>
    <br/>
    <br/>
    <br/>
    <div class="form-group">
        <div class="col-xs-3 col-xs-offset-3">
            <button type="submit">Upload</button>
            <button type="reset">Cancel</button>
        </div>
    </div>
</form>
</body>
</html>