<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">

<header id="header" class="header" th:include="|/header/header|"></header>
<!--========================================================
                          CONTENT
=========================================================-->
<body>
<section id="content" class="content">
    <div class="container well well__ins2">
        <!--<div class="box box__fill mg-add wow bounceIn">-->
        <!--<div class="box_aside">-->
        <!--<div class="lazy-img" style="padding-bottom: 69.59578%">-->
        <!--<img data-src="images/index-2_img01.jpg" src="#" alt=""/>-->
        <!--<noscript><img src="images/index-2_img01.jpg" alt=""/></noscript>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="box_cnt">-->
        <!--&lt;!&ndash;<h3><a href="#">Top chef duels</a></h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<h4>&ndash;&gt;-->
        <!--&lt;!&ndash;For this Duel, it's a clash of rustic versus refined cuisine as the chefs lock horns in a showdown of biblical proportions themed around the Garden of Eden.&ndash;&gt;-->
        <!--&lt;!&ndash;</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>&ndash;&gt;-->
        <!--&lt;!&ndash;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#" class="btn">Watch Episode</a>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->

        <h2 class="wow fadeInLeft">Video recipes gallery</h2>

        <!--<ul id="isotope-filters" class="isotope-list wow fadeInUp" style="border-bottom-width:30px !important;">-->
        <!--<li class="active"><a href="#" data-filter="*">All videos</a></li>-->
        <!--&lt;!&ndash;<li><a href="#" data-filter="product-popular">Popular</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#" data-filter="product-new">New</a></li>&ndash;&gt;-->
        <!--</ul>-->

        <div>

            <!--/*@thymesVar id="video" type="app.models.dto.viewModel.recipe.RecipeVideoViewModel"*/-->
            <!--<div th:each="video : ${model}" style="display: inline-block" class="item grid_4 ">-->
                <!--&lt;!&ndash;<a class="lazy-img mg-add thumbnail thumbnail__video" style="padding-bottom: 56.25%" th:href="'//player.youtube.com/embed/' + ${video.path}">&ndash;&gt;-->
                <!--&lt;!&ndash;<img th:attr="data-src='http://img.youtube.com/vi/' + ${video.getPath()} + '/mqdefault.jpg'" th:src="'http://img.youtube.com/vi/'+${video.getPath()}+'/mqdefault.jpg'"&ndash;&gt;-->
                <!--&lt;!&ndash;class="alignnone"/>&ndash;&gt;-->

                <!--&lt;!&ndash;<noscript>&ndash;&gt;-->
                <!--&lt;!&ndash;<img th:src="'http://img.youtube.com/vi/'+${video.getPath()}+'/mqdefault.jpg'" alt="" />&ndash;&gt;-->
                <!--&lt;!&ndash;</noscript>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="thumbnail_overlay fa"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->


                <!--<div th:attr="data-recipeVideoLinkId=@{${video.videoLinkId}}"-->
                     <!--class="item grid_4 product product__skin3"></div>-->
                <!--<a class="lazy-img mg-add thumbnail thumbnail__video frame" style="padding-bottom: 56.25%"-->
                   <!--th:href="'//player.youtube.com/embed/' + ${video.videoPath}">-->
                    <!--<img th:id="${video.recipeId}+'pic'"-->
                         <!--th:attr="data-src='http://img.youtube.com/vi/' + ${video.videoPath} + '/mqdefault.jpg'"-->
                         <!--th:src="'http://img.youtube.com/vi/'+${video.videoPath}+'/mqdefault.jpg'"-->
                         <!--class="alignnone"/>-->
                    <!--<img th:id="${video.recipeId}"-->
                         <!--th:attr="data-src='http://img.youtube.com/vi/' + ${video.videoPath} + '/mqdefault.jpg'"-->
                         <!--th:src="'http://img.youtube.com/vi/'+${video.videoPath}+'/mqdefault.jpg'"-->
                         <!--class="alignnone"/>-->
                <!--</a>-->
                <!--<h3 class="product_title name"><a th:href="@{'recipes/'+${video.recipeId}}"-->
                                                  <!--th:text="${#strings.abbreviate(video.getVideoName(),17)}"></a></h3>-->
                <!--<div class="product_description">-->
                    <!--&lt;!&ndash;<a href="#" class="btn">View More</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;SOme info&ndash;&gt;-->
                    <!--&lt;!&ndash;</p>&ndash;&gt;-->

                <!--</div>-->

            <!--</div>-->
            <!--<script th:src="@{/js/iframe.js}"></script>-->

        </div>

    </div>
    <div id="page-container" class="container well">
    </div>
    <hr class="container"/>


</section>

<!--========================================================
                          FOOTER
=========================================================-->

<footer id="footer" class="footer" th:include="|/footer/footer|"></footer>

</body>
<script>
    $(document).ready(function () {

        let requester = new Requester();
        let youtubeApi = new YouTubeVideoTitleRequester();
        let embedVideo = new EmbedVideo(requester, youtubeApi);

        $('.thumbnail__video').mouseover(function () {
//                let divIframeId = ($($(this).parent().children().eq(0)[0]).attr('id'))
            let divIframeId = ($($(this).children()[0]).attr('id'));
            let pic = divIframeId.replace('pic', '');
            $('#' + pic).fadeOut('slow');

            embedVideo.onMyYouTubeIframeAPIReady(divIframeId)


        });

        let client = new Client();
        let page = new Page(requester, client)
        let event = new Event(null, null, null, null, null, page, null);
        page.setEvent(event);
        let url = window.location.pathname + "/";
        page.triggerPagination(0, null, url);
    });

</script>

</html>