<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="recipe" type="app.models.dto.viewModel.recipe.RecipeVideoViewModel"*/-->
    <!--/*@thymesVar id="model" type="app.models.dto.viewModel.recipe.RecipeVideoViewModel"*/-->
    <div>
        <div>

            <div class="row service-wr">
                <!--<div th:each="recipe, index : ${model.page.content}"-->
                <!--class="grid_4 wow fadeInUp" data-wow-delay=".2s">-->
                <!--<a th:class="'service service__skin' + ${T(Math).round(T(Math).floor(index.countByDeletedOnIsNull % 3 + 1))}"-->
                <!--th:href="@{'recipe/' + ${recipe.recipeId}}">-->
                <!--<div class="box_inner">-->
                <!--<h3 th:text="${recipe.videoName}"></h3>-->
                <!--&lt;!&ndash;<p th:utext="${#strings.abbreviate(recipe.,200)}"></p>&ndash;&gt;-->
                <!--</div>-->
                <!--</a>-->
                <!--</div>-->
                <!--/*@thymesVar id="model" type="app.models.dto.viewModel.recipe.RecipeVideoViewModel"*/-->

                <div th:each="video: ${model.page.content}" style="display: inline-block" class="item grid_4 ">
                    <!--<a class="lazy-img mg-add thumbnail thumbnail__video" style="padding-bottom: 56.25%" th:href="'//player.youtube.com/embed/' + ${video.path}">-->
                    <!--<img th:attr="data-src='http://img.youtube.com/vi/' + ${video.getPath()} + '/mqdefault.jpg'" th:src="'http://img.youtube.com/vi/'+${video.getPath()}+'/mqdefault.jpg'"-->
                    <!--class="alignnone"/>-->
                    <!--<a th:class="'service service__skin' + ${T(Math).round(T(Math).floor(index.countByDeletedOnIsNull % 3 + 1))}"-->
                    <!--th:href="@{'blog/' + ${video.recipeId}}"></a>-->
                    <!--<noscript>-->
                    <!--<img th:src="'http://img.youtube.com/vi/'+${video.getPath()}+'/mqdefault.jpg'" alt="" />-->
                    <!--</noscript>-->
                    <!--<div class="thumbnail_overlay fa"></div>-->
                    <!--</a>-->


                    <div th:attr="data-recipeVideoLinkId=@{${video.videoLinkId}}"
                         class="item grid_4 product product__skin3"></div>
                    <a class="lazy-img mg-add thumbnail thumbnail__video frame"
                       style="padding-bottom: 56.25%"
                       th:href="'//player.youtube.com/embed/' + ${video.videoPath}">
                        <img th:id="${video.recipeId}+'pic'"
                             th:attr="data-src='http://img.youtube.com/vi/' + ${video.videoPath} + '/mqdefault.jpg'"
                             th:src="'http://img.youtube.com/vi/'+${video.videoPath}+'/mqdefault.jpg'"
                             class="alignnone lazy-loaded "/>
                        <img th:id="${video.recipeId}"
                             th:attr="data-src='http://img.youtube.com/vi/' + ${video.videoPath} + '/mqdefault.jpg'"
                             th:src="'http://img.youtube.com/vi/'+${video.videoPath}+'/mqdefault.jpg'"
                             class="alignnone"/>
                    </a>
                    <h3 class="product_title name"><a th:href="@{'recipes/'+${video.recipeId}}"
                                                      th:text="${#strings.abbreviate(video.getVideoName(),17)}"></a>
                    </h3>
                    <div class="product_description">
                        <!--<a href="#" class="btn">View More</a>-->
                        <!--<p>-->
                        <!--SOme info-->
                        <!--</p>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <ul class="pagination inline-list" id="current-page" data-current-page="0">
        <li th:if="${!(model.currentPage == 0)}"><a href="javascript:void(0)" class="page"
                                                    th:attr="data-next-page=${(model.currentPage - 1)}">Previous</a>
        </li>
        <li th:if="${model.currentPage == 0}"><a class="disable first-last page"
                                                 th:attr="data-next-page=${(model.currentPage - 1)}">Previous</a></li>

        <li th:each="page : ${model.previousPages}">
            <a class="page" th:attr="data-next-page=${page}" th:text="${page+1}" href="javascript:void(0)"/>
        </li>
        <li><a class="disable selected page" th:attr="data-next-page=${model.currentPage}"
               th:text="${(model.currentPage + 1)}"></a></li>
        <li th:each="page : ${model.nextPages}">
            <a class="page" th:attr="data-next-page=${page}" th:text="${page+1}" href="javascript:void(0)"/>
        </li>
        <li th:if="${!(model.nextPages.size() == 0)}"><a href="javascript:void(0)" class="page"
                                                         th:attr="data-next-page=${(model.currentPage + 1)}">Next</a>
        </li>
        <li th:if="${(model.nextPages.size() == 0)}"><a class="disable first-last page"
                                                        th:attr="data-next-page=${(model.currentPage + 1)}">Next</a>
        </li>
    </ul>
</div>


<!--<script src="/js/viewController.js"></script>-->
<!--<script src="/js/theme/script.js"></script>-->
<script src="/js/theme/script1.js">

</script>
<script>
    let requester = new Requester();
    let query = new Query(requester)
    let client = new Client()
    let youtubeApi = new YouTubeVideoTitleRequester();
    let embedVideo = new EmbedVideo(requester, youtubeApi);
    $('.thumbnail__video').mouseover(function () {
//                let divIframeId = ($($(this).parent().children().eq(0)[0]).attr('id'))
        let divIframeId = ($($(this).children()[0]).attr('id'));
        let pic = divIframeId.replace('pic', '');
        $('#' + pic).fadeOut('slow');
        embedVideo.onMyYouTubeIframeAPIReady(divIframeId)
    });

    $('.thumbnail__video').click(function (e) {
        let divIframeId = ($($(this).children()[0]).attr('id'));
        let pic = divIframeId.replace('pic', '');
        query.getRecipeName(pic)
                .then((name)=>client.appendVideoNameOnThumbNailOnHomePage(divIframeId, name))
    })
</script>
