<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">

<head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="icon" href="images/fh_bat_signal.ico" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/grid.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/camera.css}"/>
    <link rel="stylesheet" th:href="@{/css/touchTouch.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrapModal.css}"/>
    <link rel="stylesheet" th:href="@{/css/categories.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-social.css}"/>
    <link rel="stylesheet" th:href="@{/css/social.css}"/>
    <link th:href="@{/css/admin/font-awesome.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/theme/jquery.js}"></script>
    <script th:src="@{/js/theme/jquery-migrate-1.2.1.js}"></script>
    <script th:src="@{/js/theme/jquery.equalheights.js}"></script>
    <!--<script th:src="@{/theme/js/script.js}"></script>-->


    <script th:src="@{/js/category.js}"></script>
    <script th:src="@{/js/recipe/recipe.js}"></script>
    <script th:src="@{/js/client.js}"></script>
    <script th:src="@{/js/event.js}"></script>
    <script th:src="@{/js/query.js}"></script>
    <script th:src="@{/js/requester.js}"></script>
    <script th:src="@{/js/youtubeApi.js}"></script>
    <script th:src="@{/js/page.js}"></script>
    <script th:src="@{/js/embedVideo.js}"></script>
    <script th:src="@{/js/searchPaging/jquery.pajinate.js}"></script>
    <link rel="stylesheet" th:href="@{/css/tag/magicsuggest.css}"/>
    <script th:src="@{/js/tag/magicsuggest.js}"></script>
    <!--<script th:src="@{/js/paging.js}"></script>-->
    <script th:src="@{/js/viewController.js}"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script>
        function onYtEvent(payload) {
            if (payload.eventType == 'subscribe') {
                // Add code to handle subscribe event.
            } else if (payload.eventType == 'unsubscribe') {
                // Add code to handle unsubscribe event.
            }
            if (window.console) { // for debugging only
                window.console.log('YT event: ', payload);
            }
        }
    </script>

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script th:src="@{/js/theme/jquery.mobile.customized.min.js}"></script>
    <script th:src="@{/js/theme/wow/wow.js}"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
    <!--<![endif]-->
    <script th:src="@{/js/theme/jquery.fancybox.js}"></script>
    <script th:src="@{/js/theme/jquery.fancybox-media.js}"></script>
    <script th:src="@{/js/theme/isotope.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/btnCss.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/adminPanel.css}"/>

    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div id="ie6-alert" style="width: 100%; text-align:center; background: #232323;">
        <img src="http://beatie6.frontcube.com/images/ie6.jpg" alt="Upgrade IE 6" width="640" height="344" border="0"
             usemap="#Map" longdesc="http://die6.frontcube.com"/>
        <map name="Map" id="Map">
            <area shape="rect" coords="496,201,604,329"
                  href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank"
                  alt="Download Interent Explorer"/>
            <area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank"
                  alt="Download Apple Safari"/>
            <area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank"
                  alt="Download Opera"/>
            <area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank"
                  alt="Download Firefox"/>
            <area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank"
                  alt="Download Google Chrome"/>
        </map>
    </div>

    <script th:src="@{/js/theme/html5shiv.js}"></script>
    <![endif]-->
</head>

<body>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/bg_BG/all.js#xfbml=1&amp;version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk');
</script>
<!--========================================================
                          HEADER
=========================================================-->
<header id="header" class="header">
    <div class="row">
        <div class="grid_3" style="padding-top: 1%">
            <ul class="socials" style="padding-left: 1%">
                <li><a href="https://www.youtube.com/channel/UCpJzkFH4V_GRnGPmYFr8weQ" type="button" class="btn-floating btn-small btn-yt"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.facebook.com/thefoodiehour" type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/HourFoodie" type="button" class="btn-floating btn-small btn-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/106492779895262585405" type="button" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.instagram.com/foodie_hour/" type="button" class="btn-floating btn-small btn-instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="brand">
            <h1>
                <a href="/"><img src="/logo.png" id="logo"/></a>
            </h1>
        </div>

    </div>
    <hr/>
    <!--<div class="container">-->
    <!--<div class="grid_3">-->
    <!--<nav>-->
    <!--<li id="li" class="dropdown">-->
    <!--&lt;!&ndash;TODO: should be remade so no inline event appending exists&ndash;&gt;-->
    <!--<a class="dropbtn a CategoryDown" toggled="false" style="font-family:-->
    <!--inherit; line-height: 24px; font-size: medium">Recipes</a>-->
    <!--&lt;!&ndash;<div id="myDropdown" class="row container dropdown-content"></div>&ndash;&gt;-->
    <!--</li>-->

    <!--</nav>-->
    <!--</div>-->
    <!--</div>-->

    <div id="recipeModal"></div>
    <div id="stuck_container" class="stuck_container">
        <div class="container">
            <div class="row stuck">

                <div class="grid_12">

                    <li id="li" class="dropdown btn-default btn-circle"
                        style="font-size:25px; float: left;list-style-type: none; cursor: pointer; ">

                        <i class="fa fa-bars" ></i>
                        Recipes
                    </li>

                    <nav class="nav">
                        <ul class="sf-menu">
                            <!--<li id="li" class="dropdown">-->
                            <!--&lt;!&ndash;TODO: should be remade so no inline event appending exists&ndash;&gt;-->
                            <!--<a class="dropbtn a CategoryDown" toggled="false">Recipes</a>-->
                            <!--&lt;!&ndash;<div id="myDropdown" class="row container dropdown-content"></div>&ndash;&gt;-->
                            <!--</li>-->

                            <li class="li">

                                <a th:href="@{/}">Home</a>
                            </li>

                            <!--<li id="li" class="dropdown">-->
                            <!--&lt;!&ndash;TODO: should be remade so no inline event appending exists&ndash;&gt;-->
                            <!--<a class="dropbtn a CategoryDown" toggled="false">Recipes</a>-->
                            <!--&lt;!&ndash;<div id="myDropdown" class="row container dropdown-content"></div>&ndash;&gt;-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="#">Recipes</a>-->
                            <!--</li>-->
                            <li class="li">
                                <a th:href="@{/videos}">Videos</a>
                            </li>
                            <li class="li">
                                <a th:href="@{/blog}">Blog</a>
                            </li>
                            <li class="li">
                                <a th:href="@{/contacts}">Contact us</a>
                            </li>
                            <li class="li">
                                <a th:href="@{/about}">About us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<hr class="container"/>
<form id="search" class="form control container" th:action="@{/theme/search}" method="GET"
      accept-charset="utf-8"><input id="i1"/>
</form>
<script th:inline="javascript">
    $(document).ready(function () {


        let model = [[${model}]];
        let sg;
        $(function () {
            sg = $('#i1').magicSuggest({
                style: 'width: 100%',
                method: 'get',
                data: '/getTags',
                resultAsStringDelimiter: ' ',
                resultAsString: true,
                useZebraStyle: true,
                hideTrigger: true,
                maxSuggestions: 3,
                placeholder: 'Enter some text here...',
            });
            $(sg).on(
                    'selectionchange', function (e, m, v) {
                        if (sg.isValid()) {
                            if (v.keyCode == 13) {
                                $('#search').trigger('click');
                            }
                        } else {
                            sg.clear();
                        }
                    }
            );
            if (model) {
                if (model.hasOwnProperty('keyWords')) {
                    sg.setValue(model.keyWords);
                }
            }

        });

        $("#search").submit(function (eventObj) {
           var check = sg.getValue().length > 0;
            if(check) {
                $('<input />').attr('type', 'hidden')
                        .attr('name', "searchKeyWords")
                        .attr('value', sg.getValue())
                        .appendTo('#search');
                return true;
            } else {
                return false;
            }

        });
    });

</script>
<hr class="container"/>
</body>
</html>
