<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">

<head>
    <link rel="stylesheet" th:href="@{/css/pageable.css/}"/>
    <meta property="fb:app_id" content="1812997402255433"/>
</head>
<header id="header" class="header" th:include="|/header/header|"></header>
<!--========================================================
                          CONTENT
=========================================================-->
<body>
<!--<div id="fb-root"></div>-->
<section id="content" class="content">
    <hr class="container"/>
    <div class="container well">
        <!--/*@thymesVar id="model" type="app.models.dto.viewModel.article.GetArticleViewModel"*/-->
        <div class="row wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="grid_5">
                <div class="lazy-img mg-add" style="padding-bottom: 65.957446%">
                    <img th:attr="data-src=${model.picturePath}" th:src="${model.picturePath}" alt="" class="lazy-loaded" style="height: 100%;"/>
                    <noscript>&lt;img th:src="${model.picturePath}" alt="" /&gt;</noscript>
                </div>
            </div>
            <div class="grid_7">
                <h3 th:text="${model.name}"></h3>
                <div th:utext="${model.body}"></div>
                <br/>
                <div class="fb-comments" data-numposts="5"></div>
            </div>
            <div th:name="${model.facebookId}" id="facebookId"></div>
        </div>
        <hr class="container"/>
    </div>
</section>

<!--========================================================
                            FOOTER
  =========================================================-->
<footer id="footer" class="footer" th:include="|/footer/footer|"></footer>

<script th:src="@{/js/main.js}"></script>
<link rel="stylesheet" th:href="@{/css/article.css}"/>

</body>
</html>