<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">

<header id="header" class="header" th:include="|/header/header|"></header>
<link rel="stylesheet" th:href="@{/css/pageable.css/}"/>
<link rel="stylesheet" th:href="@{/css/article.css}"/>

<!--========================================================
                          CONTENT
=========================================================-->

<body>
<!--/*@thymesVar id="model" type="app.models.dto.viewModel.blog.BlogViewModel"*/-->
<section id="content" class="content">
    <div class="container well">
        <h2 class="wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">Newest article:
        </h2>
        <div th:if="${model.mostRecent != null}" class="row wow fadeInUp animated"
             style="visibility: visible; animation-name: fadeInUp;">
            <div class="grid_5">
                <div class="lazy-img mg-add" style="padding-bottom: 65.957446%">
                    <img th:attr="data-src=${model.mostRecent.getPicturePath()}"
                         th:src="${model.mostRecent.picturePath}" alt="" class="lazy-loaded" style="height: 100%"/>
                    <noscript>&lt;img th:src="${model.mostRecent.picturePath}" alt="" /&gt;</noscript>

                </div>
            </div>
            <div class="grid_7">
                <h3 th:text="${#strings.abbreviate(model.mostRecent.name,40)}"></h3>
                <div style="max-height: 245px; overflow: hidden;" th:utext="${#strings.abbreviate(model.mostRecent.content,800)}"></div>
                <a th:href="@{'blog/' + ${model.mostRecent.getId()}}" class="btn">View More</a>
            </div>
        </div>
        <div id="page-container" class="container well">
        </div>

        <hr class="container"/>
    </div>
</section>

<!--========================================================
                            FOOTER
  =========================================================-->

<footer id="footer" class="footer" th:include="|/footer/footer|"></footer>
<script th:src="@{/js/main.js}"></script>

</body>
</html>