<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="model" type="app.models.dto.viewModel.article.GetArticleViewModel"*/-->
    <div id="articles-here" class="row wow fadeInUp animated">
        <div class="articlePreviewsSection">
            <div class="row service-wr">
                <div th:each="article, index : ${model.page.content}"
                     class="grid_4 wow fadeInUp" data-wow-delay=".2s">
                    <a th:class="'service service__skin' + ${T(Math).round(T(Math).floor(index.count % 3 + 1))}"
                        th:href="@{'blog/' + ${article.getId()}}">
                        <div class="box_inner">
                            <h3 th:text="${#strings.abbreviate(article.name,20)}" class="grid_4" style="width: 100%"></h3>
                            <p th:text="${#strings.abbreviate(article.body,150)}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <ul class="pagination inline-list" id="current-page" data-current-page="0">
        <li th:if="${!(model.currentPage == 0)}"><a href="#" class="page"
                                                    th:attr="data-next-page=${(model.currentPage-1)}">Previous</a></li>
        <li th:if="${model.currentPage == 0}"><a class="disable first-last page"
                                                 th:attr="data-next-page=${(model.currentPage-1)}">Previous</a></li>

        <li th:each="page : ${model.previousPages}">
            <a class="page" th:attr="data-next-page=${page}" th:text="'Page ' + ${page+1}" href="#"/>
        </li>
        <li><a class="disable selected page" th:attr="data-next-page=${model.currentPage}"
               th:text="'Page '+${(model.currentPage+1)}"></a></li>
        <li th:each="page : ${model.nextPages}">
            <a class="page" th:attr="data-next-page=${page}" th:text="'Page ' + ${page+1}" href="#"/>
        </li>
        <li th:if="${!(model.nextPages.size() == 0)}"><a href="#" class="page"
                                                         th:attr="data-next-page=${(model.currentPage+1)}">Next</a></li>
        <li th:if="${(model.nextPages.size() == 0)}"><a class="disable first-last page"
                                                        th:attr="data-next-page=${(model.currentPage+1)}">Next</a></li>
    </ul>
</div>

