<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg">
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="grid_12 wow fadeInUp">
                Foodie Hour © <span id="copyright-year"></span> All Rights Reserved |
                <a th:href="@{/privacyPolicy}">Privacy Policy</a>
                <!-- {%FOOTER_LINK} -->
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/js/theme/script.js}"></script>
</html>