<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">

<header id="header" class="header" th:include="|/header/header|"></header>
<!--========================================================
                          CONTENT
=========================================================-->
<body>
<h1 th:action="@{/404}"
    align="center"
    style="color:red; padding-top: 10px" th:text="|Error&#58; Invalid data&#33; Please retry your request with correct data&#33;|">
</h1>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="footer" th:include="|/footer/footer|"></footer>
</body>
</html>