<section id="content" class="content">
    <div class="row">
        <div id="stuck_container" class="stuck_container">
            <div class="container" th:if="${model != null}">
                <div class="grid_12">
                    <nav class="nav">
                        <ul class="sf-menu sf-js-enabled sf-arrows"
                            style="text-align: center; padding-bottom: 20px">
                            <li>
                                <button id="filterBy" type="button" class="btn btn-outline btn-info">Filter By</button>
                            </li>
                            <li>
                                <input id="fl"/>
                                <!--<div id="myDropdown" class="row container dropdown-content"></div>-->
                            </li>
                            <li>
                                <a id="videoRender" href="#">Videos</a>
                            </li>
                            <li>
                                <a id="recipesRender" href="#">Recipes</a>
                            </li>
                            <div id="cont" style="margin-left:35%">
                            </div>
                        </ul>
                    </nav>
                </div>
                <hr class="container" style="margin-left: 45px"/>
                <br/>
                <div id="videoResults">
                    <div th:if="${model.hasVideoResults()}" id="video_container">
                        <div class="page_navigation"></div>
                        <br/>
                        <ul class="content">
                            <li th:each="video : ${model.getVideos()}"
                                style="display: inline-block"
                                class="item grid_4">
                                <div th:attr="data-recipeVideoLinkId=@{${video.getLinkId()}}"
                                     class="item grid_4 product product__skin3"></div>
                                <a class="lazy-img mg-add thumbnail thumbnail__video frame"
                                   style="padding-bottom: 56.25%"
                                   th:href="'//player.youtube.com/embed/' + ${video.getLinkId()}">
                                    <img th:id="${video.recipeId}+'pic'"
                                         th:attr="data-src='http://img.youtube.com/vi/' + ${video.getLinkId()} + '/mqdefault.jpg'"
                                         th:src="'http://img.youtube.com/vi/'+${video.getLinkId()}+'/mqdefault.jpg'"
                                         class="alignnone lazy-loaded "/>
                                    <img th:id="${video.recipeId}"
                                         th:attr="data-src='http://img.youtube.com/vi/' + ${video.getLinkId()} + '/mqdefault.jpg'"
                                         th:src="'http://img.youtube.com/vi/'+${video.getLinkId()}+'/mqdefault.jpg'"
                                         class="alignnone"/>
                                </a>
                                <h3 class="product_title name"><a th:href="@{'recipes/'+${video.recipeId}}"
                                                                  th:text="${#strings.abbreviate(video.getName(),17)}"></a>
                                </h3>
                                <div class="product_description">

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${!model.hasVideoResults()}">
                        <div class="panel panel-default">
                            <h3 style="color: red" th:text="|No results found&#33;|"></h3>
                        </div>
                    </div>
                </div>
                <div id="recipesResults" style="display: none">
                    <div th:if="${model.hasRecipeResults()}" id="recipe_container">
                        <div class="page_navigation" th:align="center"></div>
                        <br/>
                        <ul class="content">
                            <li th:each="recipe : ${model.getRecipes()}"
                                class="product product__skin2  product__ins1 product__ins2">
                                <div class="product_aside">
                                    <a class="lazy-img thumbnail" style="padding-bottom: 98.0198%"
                                       th:href="${recipe.getPicturePath()}">
                                        <img th:attr="data-src=${recipe.getPicturePath()}" th:src="${recipe.getPicturePath()}" alt=""
                                             class="lazy-loaded" style="height: 100%"/>
                                        <!--<noscript>&lt;img src="images/index-1_img02.jpg" alt="" /&gt;</noscript>-->
                                        <div class="thumbnail_overlay fa"></div>
                                    </a>
                                </div>
                                <div class="product_cnt">
                                    <h4 class="product_title"><a href="#" th:text="${recipe.getName()}"></a></h4>
                                    <div class="product_description">
                                        <a th:href="@{/recipes/} + ${recipe.getId()}" class="btn">Read More</a>
                                        <p th:utext="${#strings.abbreviate(recipe.getBody(),210)}"></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${!model.hasRecipeResults()}">
                        <div class="panel panel-default">
                            <h3 style="color: red" th:text="|No results found&#33;|"></h3>
                        </div>
                    </div>
                </div>
                <div class="modal fade hide" id="selectCategory" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                            </div>
                            <div class="modal-body">
                                <input id="categorySuggest" type="text"/>
                            </div>
                            <div class="modal-footer">
                                <button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button id="okModal" class="btn btn-danger btn-ok" disabled="disabled">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="container"/>

</section>
<script th:inline="javascript">
    $(document).ready(function () {
        let model = [[${model}]];
        orderBYTag(model);

        $('#video_container').pajinate({
            items_per_page: 3,
            start_page:model.videoPage
        });
        $('#recipe_container').pajinate({
            items_per_page: 8,
            start_page:model.recipePage
        });
    })
</script>