<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">

<header id="header" class="header" th:include="|/header/header|">
</header>
<!--========================================================
                          CONTENT
=========================================================-->
<body>
<style>


    .page_navigation, .alt_page_navigation {
        padding-bottom: 20px;
        padding-left: 45%;
    }

    .page_navigation a, .alt_page_navigation a {
        padding: 3px 5px;
        margin: 2px;
        color: white;
        text-decoration: none;
        float: left;
        font-family: Tahoma;
        font-size: 12px;
        background-color: #DB5C04;
    }

    .active_page {
        background-color: white !important;
        color: black !important;
    }

    .content, .alt_content {
        color: black;
    }

    .content li, .alt_content li, .content > p {
        padding: 5px
    }
</style>
<!--/*@thymesVar id="model" type="app.models.dto.viewModel.search.SearchViewModel"*/-->
<!--/*@thymesVar id="video" type="app.models.dto.viewModel.video.VideoSearchViewModel"*/-->
<section id="content" class="content">
    <div class="row">
        <div id="stuck_container" class="stuck_container">
            <div class="container" th:if="${model != null}">
                <div class="grid_12">
                    <nav class="nav">
                        <ul class="sf-menu sf-js-enabled sf-arrows"
                            style="text-align: center; padding-bottom: 20px">
                            <li>
                                <button id="filterBy" type="button" class="btn btn-outline btn-info">Filter By</button>
                            </li>
                            <li>
                                <input id="fl"/>
                                <!--<div id="myDropdown" class="row container dropdown-content"></div>-->
                            </li>
                            <li>
                                <a id="videoRender" href="#">Videos</a>
                            </li>
                            <li>
                                <a id="recipesRender" href="#">Recipes</a>
                            </li>
                            <div id="cont" style="margin-left:35%">
                            </div>
                        </ul>
                    </nav>
                </div>
                <hr class="container" style="margin-left: 45px"/>
                <br/>
                <div id="videoResults">
                    <div th:if="${model.hasVideoResults()}" id="video_container">
                        <div class="page_navigation"></div>
                        <br/>
                        <ul class="content">
                            <li th:each="video : ${model.getVideos()}"
                                style="display: inline-block"
                                class="item grid_4">
                                <div th:attr="data-recipeVideoLinkId=@{${video.getLinkId()}}"
                                     class="item grid_4 product product__skin3"></div>
                                <a class="lazy-img mg-add thumbnail thumbnail__video frame"
                                   style="padding-bottom: 56.25%"
                                   th:href="'//player.youtube.com/embed/' + ${video.getLinkId()}">
                                    <img th:id="${video.recipeId}+'pic'"
                                         th:attr="data-src='http://img.youtube.com/vi/' + ${video.getLinkId()} + '/mqdefault.jpg'"
                                         th:src="'http://img.youtube.com/vi/'+${video.getLinkId()}+'/mqdefault.jpg'"
                                         class="alignnone lazy-loaded "/>
                                    <img th:id="${video.recipeId}"
                                         th:attr="data-src='http://img.youtube.com/vi/' + ${video.getLinkId()} + '/mqdefault.jpg'"
                                         th:src="'http://img.youtube.com/vi/'+${video.getLinkId()}+'/mqdefault.jpg'"
                                         class="alignnone"/>
                                </a>
                                <h3 class="product_title name"><a th:href="@{'recipes/'+${video.recipeId}}"
                                                                  th:text="${#strings.abbreviate(video.getName(),17)}"></a>
                                </h3>
                                <div class="product_description">

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${!model.hasVideoResults()}">
                        <div class="panel panel-default">
                            <h3 style="color: red" th:text="|No results found&#33;|"></h3>
                        </div>
                    </div>
                </div>
                <div id="recipesResults" style="display: none">
                    <div th:if="${model.hasRecipeResults()}" id="recipe_container">
                        <div class="page_navigation" th:align="center"></div>
                        <br/>
                        <ul class="content">
                            <li th:each="recipe : ${model.getRecipes()}"
                                class="product product__skin2  product__ins1 product__ins2">
                                <div class="product_aside">
                                    <a class="lazy-img thumbnail" style="padding-bottom: 98.0198%"
                                       th:href="${recipe.getPicturePath()}">
                                        <img th:attr="data-src=${recipe.getPicturePath()}" th:src="${recipe.getPicturePath()}" alt=""
                                             class="lazy-loaded" style="height: 100%"/>
                                        <!--<noscript>&lt;img src="images/index-1_img02.jpg" alt="" /&gt;</noscript>-->
                                        <div class="thumbnail_overlay fa"></div>
                                    </a>
                                </div>
                                <div class="product_cnt">
                                    <h4 class="product_title"><a href="#" th:text="${recipe.getName()}"></a></h4>
                                    <div class="product_description">
                                        <a th:href="@{/recipes/} + ${recipe.getId()}" class="btn">Read More</a>
                                        <p th:utext="${#strings.abbreviate(recipe.getBody(),210)}"></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${!model.hasRecipeResults()}">
                        <div class="panel panel-default">
                            <h3 style="color: red" th:text="|No results found&#33;|"></h3>
                        </div>
                    </div>
                </div>
                <div class="modal fade hide" id="selectCategory" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                            </div>
                            <div class="modal-body">
                                <input id="categorySuggest" type="text"/>
                            </div>
                            <div class="modal-footer">
                                <button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button id="okModal" class="btn btn-danger btn-ok" disabled="disabled">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="container"/>

</section>
<script th:inline="javascript">
    let videoRender = $('#videoRender');
    let recipeRender = $('#recipesRender');
    requester = new Requester();
    youtubeApi = new YouTubeVideoTitleRequester();
    embedVideo = new EmbedVideo(requester, youtubeApi);

    $('.thumbnail__video').mouseover(function () {
//                let divIframeId = ($($(this).parent().children().eq(0)[0]).attr('id'))
        let divIframeId = ($($(this).children()[0]).attr('id'));
        let pic = divIframeId.replace('pic', '');
        $('#' + pic).fadeOut('slow');

        embedVideo.onMyYouTubeIframeAPIReady(divIframeId)


    });
    let fl;
    let csg;
    let client = new Client();
    let page = new Page(requester, client);
    let event = new Event(null, null, null, null, null, page, null);
    page.setEvent(event);
    let url = window.location.pathname + "/";
    page.triggerPagination(0, null, url);

    let orderBYTag = function (model) {
        $(function () {
            fl = $('#fl').magicSuggest({
                style: 'width: 130px',
                placeholder: 'Filter by',
                //resultAsString: true,
                maxSelection: 1,
                allowFreeEntries: false,
                data: ['Date', 'Rating', 'Category'],
                selectionPosition: 'bottom',
                expandOnFocus: true,
                editable: false,
                selectionContainer: $('#cont'),
                selectionRenderer: function (data) {
                    return '<button class="btn btn-outline btn-danger" style="alignment: center" type="button" disabled="true">' + data.name + '</button>';
                },
                maxSelectionRenderer: function (v) {
                    return '';
                }

            });
            embedVideo = new EmbedVideo(requester, youtubeApi);
            $('.thumbnail__video').mouseover(function () {
                let divIframeId = ($($(this).children()[0]).attr('id'));
                let pic = divIframeId.replace('pic', '');
                $('#' + pic).fadeOut('slow');

                embedVideo.onMyYouTubeIframeAPIReady(divIframeId)
            });

            let client = new Client();
            let page = new Page(requester, client);
            let event = new Event(null, null, null, null, null, page, null);
            page.setEvent(event);
            let url = window.location.pathname + "/";
            page.triggerPagination(0, null, url);
            $('#videoRender').css('color', 'green');

            if ($('#videoResults').is(":visible")) {
                $('#videoRender').css('color', 'green');
            } else {
                $('#recipesRender').css('color', 'green');
            }
            if (model != undefined) {
                if (model.order != '') {
                    fl.setSelection([{name: model.order, value: model.order}]);
                    let newUrl = window.location.pathname + "?" + model.queryPath;
                    history.pushState(null, null, newUrl);
                }
            }
            $(fl).on('selectionchange', function (e, m) {
                if (fl.getValue() == 'Category') {

                    $('#selectCategory').show();
                    $(function () {
                        csg = $('#categorySuggest').magicSuggest({
                            method: 'get',
                            data: '/categories/names',
                            toggleOnClick: true,
                            resultAsString: true,
                            allowFreeEntries: false,
                            useTabKey: true,
                            useZebraStyle: true,
                            placeholder: 'Select category names...',
                        });
                    });


                    $('#closeModal').on('click', function () {
                        fl.setSelection([]);
                        $('#selectCategory').hide();
                    });


                    $('#okModal').on('click', function () {
                        $('#selectCategory').hide();
                        $('#filterBy').trigger('click');
                        csg.clear();
                        fl.setSelection([]);
                    });
                    $(csg).on('selectionchange', function (e, m) {
                        $('#okModal').removeAttr('disabled');
                    });
                }

            });

            let videoP;
            let videoCont = $("#video_container").find('.page_link');
            if (videoCont) {
                videoCont.click(function () {
                    let url = window.location.href;
                    videoP = $(this).text();
                    let newURL = url.replace(/videoPage=\d+/g, 'videoPage=' + videoP);
                    history.pushState(null, null, newURL);
                });
            }
            let recipeP;
            let recipeCont = $("#recipe_container").find('.page_link');
            if (recipeCont) {
                recipeCont.click(function () {
                    let url = window.location.href;
                    recipeP = $(this).text();
                    let newURL = url.replace(/recipePage=\d+/g, 'recipePage=' + recipeP);
                    history.pushState(null, null, newURL);
                });
            }

            $('#filterBy').on('click', function (e, m) {

                if (fl.getValue().length > 0) {
                    let data = {};
                    data['searchKeyWords'] = [[${model.keyWords}]].toString();
                    data['order'] = fl.getValue().toString();
                    if (csg != undefined) {
                        data['categoryNames'] = csg.getValue().toString();
                    }
                    let videoPage = "0";
                    let recipePage = "0";

//                    let videoContainer = $("#video_container").find('.active_page')[0];
//                    if (videoContainer != undefined) {
//                        videoPage = videoContainer.innerText;
//                    }
//
//                    let recipeContainer = $("#recipe_container").find('.active_page')[0];
//                    let recipePage = "1";
//
//                    if (recipeContainer != undefined) {
//                        recipePage = recipeContainer.innerText;
//                    }

                    data['videoPage'] = videoPage;
                    data['recipePage'] = recipePage;

                    let areVideosSelected = false;
                    if ($('#videoResults').is(":visible")) {
                        areVideosSelected = true;
                    }

                    requester.get("/search/ordered", function (orderView) {

                        $('#content').html(orderView);
                        let videoRender = $('#videoRender');
                        let recipeRender = $('#recipesRender');
                        if (areVideosSelected) {
                            recipeRender.css('color', 'black');
                            videoRender.css('color', 'green');
                            $('#recipesResults').hide();
                            $('#videoResults').show();
                        } else {
                            recipeRender.css('color', 'green');
                            videoRender.css('color', 'black');
                            $('#videoResults').hide();
                            $('#recipesResults').show();
                        }

                    }, null, data);
                }
            });

        });
        let videoRender = $('#videoRender');
        let recipeRender = $('#recipesRender');
        videoRender.css('color', 'black');
        recipeRender.css('color', 'black');

        videoRender.on('click', function () {
            videoRender.css('color', 'black');
            recipeRender.css('color', 'black');
            videoRender.css('color', 'green');
            $('#recipesResults').hide();
            $('#videoResults').show();
        });

        recipeRender.on('click', function () {
            recipeRender.css('color', 'black');
            videoRender.css('color', 'black');
            recipeRender.css('color', 'green');
            $('#videoResults').hide();
            $('#recipesResults').show();
        });
    };
    $(document).ready(function () {
        let model = [[${model}]];
        console.log(model);
        $('#video_container').pajinate({
            items_per_page: 3,
            start_page: model.videoPage
        });
        $('#recipe_container').pajinate({
            items_per_page: 8,
            start_page: model.recipePage
        });
        orderBYTag(model);

    });
</script>

<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="footer" th:include="|/footer/footer|"></footer>

</body>
</html>