<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg">
<head>
    <meta charset="UTF-8"/>
    <title>Create Article</title>
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
    <script th:src="@{/js/article/ckeditor.js}"></script>
</head>
<body>
<form method="POST">
    <br />
    Name: <input id="article_name" name="name" th:value="${model.name}"/><br/>
    <br />
    <textarea id="ck_editor" name="body" th:text="${model.body}"></textarea>
    <br />
    <input type="submit"/>
</form>
</body>
</html>