<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg">
<head>
    <meta charset="UTF-8"/>
    <title>View Article</title>
</head>
<body>

<h1 th:text="${model.name}"></h1>
<p th:utext="${model.body}"></p>
</body>
</html>