<div class="row" >
    <div class="col-lg-12">
        <h1 class="page-header">Edit Category</h1>
    </div>
</div>
<div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6" >
                        <form role="form" method="POST" th:action="@{'/admin/categories/' + ${model.id} + '/edit'}" enctype="multipart/form-data">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="form-group">
                                <label for="name">Please, enter Category Name:</label>
                                <input class="form-control" type="text" name="name" id="name" placeholder="Name" th:value="${model.name}"/>
                            </div>
                            <div class="form-group">
                                <label>Picture file</label>
                                <br />
                                <button type="button" id="fileUpload">Browse Files</button><h5 id="fileName" th:text="${model.pictureName}"></h5>
                                <input type="file" name="file" style="visibility: hidden;"/>
                            </div>
                            <button type="submit" class="btn btn-primary" >Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button id="back" class="btn btn-info">Back</button>
                        </form>

                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    $('#back').click(function() {
        window.location.href = '/admin/allCategories';
        return false;
    });
    $('#fileUpload').on('click', function () {

        let fileUploadField = $("input[type='file']");
            fileUploadField.click();
        fileUploadField.change(function() {
            var filename = fileUploadField.val();
            $('#fileName').html(filename.replace('C:\\fakepath\\',''));
        });
    })
</script>