<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="model" type="app.models.dto.viewModel.article.GetArticleViewModel"*/-->
    <div class="panel panel-default">
        <div class="panel-heading">
            All Categories
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <table width="100%"
                               class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                               id="dataTables-example" role="grid" aria-describedby="dataTables-example_info"
                               style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending"
                                    style="width: 285px;">Category ID
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                    colspan="1" aria-label="Browser: activate to sort column ascending"
                                    style="width: 342px;">Category Name
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeA odd" role="row" th:each="category : ${model.page.content}">
                                <td class="sorting_1" th:text="${category.id}"></td>
                                <td th:text="${category.name}"></td>
                                <td>
                                    <a th:href="@{'/admin/categories/' + ${category.id} + '/edit'}"
                                       class="btn btn-warning edit">
                                        <span>Edit</span></a>
                                </td>
                                <td>
                                    <button class="btn btn-danger" th:attr="data-href=@{'/admin/categories/' + ${category.id} + '/delete'}, data-target='#confirm-delete-' + ${category.id}" data-toggle="modal">
                                     DELETE</button>
                                    <div class="modal fade" th:id="'confirm-delete-' + ${category.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">

                                                </div>
                                                <div class="modal-body">
                                                    <h4 id="message" th:text="|Are you sure you want to delete category ${category.name} ?|"></h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-danger btn-ok">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <ul class="pagination inline-list" id="current-page" data-current-page="0">
        <li th:if="${!(model.currentPage == 0)}"><a href="#" class="page"
                                                    th:attr="data-next-page=${(model.currentPage-1)}">Previous</a></li>
        <li th:if="${model.currentPage == 0}"><a class="disable first-last page"
                                                 th:attr="data-next-page=${(model.currentPage-1)}">Previous</a></li>

        <li th:each="page : ${model.previousPages}">
            <a class="page" th:attr="data-next-page=${page}" th:text="'Page ' + ${page+1}" href="#"/>
        </li>
        <li><a class="disable selected page" th:attr="data-next-page=${model.currentPage}"
               th:text="'Page '+${(model.currentPage+1)}"></a></li>
        <li th:each="page : ${model.nextPages}">
            <a class="page" th:attr="data-next-page=${page}" th:text="'Page ' + ${page+1}" href="#"/>
        </li>
        <li th:if="${!(model.nextPages.size() == 0)}"><a href="#" class="page"
                                                         th:attr="data-next-page=${(model.currentPage+1)}">Next</a></li>
        <li th:if="${(model.nextPages.size() == 0)}"><a class="disable first-last page"
                                                        th:attr="data-next-page=${(model.currentPage+1)}">Next</a></li>
    </ul>
</div>
<script>
    $(document).ready(function () {
     let url = window.location.href;
        url = url.split("#")[1];
        if (url=='createCategory') {
            $('#create-category').trigger('click');
        }


        $('#create-category').on('click',function () {
            $.get("/admin/categories/create", function(data){
                $('#page-wrapper').html(data);
            });
        });
        $('.modal').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
        $('#dashboard').on('click', function () {
            window.location.replace("/admin");
        });
        $('.edit').on('click',function (event) {
            event.preventDefault();
            let href = event.currentTarget.href;
            const regex = /\/(\d+)\//g;
            let m;
            let categoryId;

            if ((m = regex.exec(href)) !== null) {
                categoryId = m[1];
            }

            $.get('/admin/categories/' + categoryId + '/edit', function(data){
                $('#page-wrapper').html(data);
            });
        });
    });
</script>

