﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="bg"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">


<header id="header" class="header" th:include="|/header/header|"></header>
<script th:src="@{/js/contactForm.js}"></script>
<script th:src="@{/js/theme/modal.js}"></script>
<link rel="stylesheet" th:href="@{/css/contact-form.css}"/>
<link rel="stylesheet" th:href="@{/js/theme/TMForm.js}"/>
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<!--========================================================
                          CONTENT
=========================================================-->
<body>
<section id="content" class="content">

    <div class="container well well__ins3">

        <address class="addr row">
            <div class="grid_3">
                <div class="fa fa-phone"></div>
                <p>
                    +359 884 658 412
                </p>
            </div>
            <div class="grid_5">
                <div class="fa fa-envelope"></div>
                <p>
                    <a href="#">foodiehour@gmail.com</a>
                </p>
            </div>
        </address>

        <h2>Contact form</h2>

        <form id="contact-form" class="contact-form" th:action="@{/contacts}" th:method="POST">
            <div class="contact-form-loader"></div>
            <fieldset>
                <div class="row">

                    <div class="grid_6">
                        <label class="input-name">
                            <input type="text" id="name" name="name" placeholder="Name" value=""
                                   data-constraints="@Required @JustLetters"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">Name is too short.</span>
                        </label>

                        <label class="fromEmail">
                            <input type="text" id="email" name="fromEmail" placeholder="E-mail" value=""
                                   data-constraints="@Required @Email"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid email.</span>
                        </label>

                        <label class="phone">
                            <input type="text" id="phone" name="phone" placeholder="Phone" value=""
                                   data-constraints="@JustNumbers"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid phone.</span>
                        </label>
                    </div>

                    <div class="grid_6">
                        <label class="message">
                                    <textarea id="message" name="message" placeholder="Message"
                                              data-constraints='@Required @Length(min=20,max=999999)'></textarea>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*The message is too short.</span>
                        </label>

                        <div class="btn-wr">
                            <button id="submitEmail" type="submit" class="btn btn-default" disabled="disabled" style="visibility: hidden" >Send</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="modal fade response-message">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            You message has been sent! We will be in touch soon.
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LfYBQ8UAAAAAMaZwrxat-sMIu0hQzvJJ42KfTrD"></div>
        </form>
        <script>
            function recaptchaCallback() {
                let submitButton = $('#submitEmail');
                console.log("kur");
                submitButton.css("visibility", "visible");
                submitButton.removeAttr('disabled');
            };
        </script>
    </div>

    <hr class="container"/>

</section>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="footer" th:include="|/footer/footer|"></footer>

</body>
</html>