<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:lang="bg">
<head>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/adminPanel.css}"/>
    <link th:href="@{/css/admin/font-awesome.css}" rel="stylesheet" type="text/css"/>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script th:src="@{/js/youtubeApi.js}"></script>
    <script th:src="@{/js/admin/metisMenu.js}"></script>
    <script th:src="@{/js/admin/adminPanel.js}"></script>
    <script th:src="@{/js/admin/bootstrap.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div>
                <h1 class="page-header" th:align="center" style="margin-top: 40%;">Foodie Hour</h1>
            </div>
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form"  th:method="POST">
                        <fieldset>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="form-group">
                                <input class="form-control" autofocus="autofocus" placeholder="Username" name="username" type="text" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" autofocus="autofocus" placeholder="Password" name="password" type="password"
                                       value="" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me" />Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>