<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en"
      class=" js no-touch svg firefox no-ie11 no-ie no-mac linux gecko  linux">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/adminPanel.css}"/>
    <link rel="stylesheet" th:href="@{/css/pageable.css}"/>
    <link th:href="@{/css/admin/font-awesome.css}" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script th:src="@{/js/admin/metisMenu.js}"></script>
    <script th:src="@{/js/admin/adminPanel.js}"></script>
    <script th:src="@{/js/admin/bootstrap.js}"></script>
    <script th:src="@{/js/client.js}"></script>
    <script th:src="@{/js/event.js}"></script>
    <script th:src="@{/js/query.js}"></script>
    <script th:src="@{/js/requester.js}"></script>
    <script th:src="@{/js/page.js}"></script>
    <script th:src="@{/js/paging.js}"></script>
    <script th:src="@{/js/youtubeApi.js}"></script>

</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.foodiehour.com">FoodieHour Admin Panel</a>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">

                           <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" data-target="#update_token"
                                        data-toggle="modal">
                                    Update facebook token
                                </button>
                               <div th:if="${model.isValid()}">
                                <h4 th:text="|Token is valid|"></h4>
                                </div>
                                <div th:if="${!model.isValid()}">
                                <h4 th:text="|Token has expired|" style="color: red"></h4>
                                </div>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a id="dashboard" href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a id="categories" th:href="|/admin/allCategories|"><i class="fa fa-apple fa-fw"></i> Categories</a>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a id="recipes" th:href="|/admin/allRecipes|"><i class="fa fa-apple fa-fw"></i> Recipes</a>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a id="articles" href="" th:action="@{/admin/allArticles}"><i class="fa fa-apple fa-fw"></i>
                            Articles<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id="create-article" href="#createArticle">Create Article</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!--/.navbar-static-side-->
    </nav>
    <!-- /#page-wrapper -->
    <div id="page-wrapper" style="min-height: 207px;">
        <div id="page-container" class="pagination"></div>
    </div>
</div>
<div class="modal fade" th:id="update_token" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/update_token}" th:method="POST">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h4 id="message" th:text="|Insert new facebook access token|"></h4>
                    <textarea type="text" name="token" style="width: 100%;" rows="3"></textarea>
                    <input type="hidden" th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                </div>
                <div class="modal-footer">
                    <a type="button" href="https://developers.facebook.com/tools/explorer/1812997402255433"
                       target="_blank" class="btn btn-primary">Open facebook explorer
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger btn-ok">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let url = window.location.href;
        url = url.split("#")[1];
        if (url) {
            if (url == 'createArticle') {
                $('#create-article').trigger('click');
            }

        }
    })
</script>
</body>
</html>